<img class="mainicon" src="images/icon.png">
<p class="mainwords">Choose your busstop!</p>
<modal></modal>
<div class="container">
    <input class="searchfiled" ng-model="searchText" placeholder="Put you busstop name here...">
    <ul class="search-results__list">
        <li class="search-results__list__item" ng-repeat = "stop in busstopsArray | filter:searchText track by $index">
            <a href="" ng-click="showModal()" class="lol"><img src="images/w128h1281338911361location.png"></a>
            <a href="#/details/{{stop.stationName}}">{{stop.stationName}}</a>
            <span ng-class="{'favourite--active' : stop.favourite}" ng-click="addToFavourites(stop)" class="favourite">
                <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="24px" viewBox="0 0 300 275" version="1.1">
                    <polygon fill="#ccc" points="150,25 179,111 269,111 197,165 223,251 150,200 77,251 103,165 31,111 121,111"/>
                </svg>
                (add to Favourites)
            </span>
            <ul>
                <li ng-repeat = "bus in stop.buses track by $index" ng-show="bus.times">
                        {{bus.number}}  -
                        <span>{{timeService.getClosestTime(bus.times)}}</span>
                        <!--<span ng-repeat = "time in bus.times track by $index"> {{time}} </span>-->
                </li>
            </ul>
        </li>
    </ul>
</div>