<img class="mainicon" src="images/icon.png">
<p class="mainwords">Choose your busstop!</p>
<div class="container">
    <input class="searchfiled" ng-model="searchText" placeholder="Put you busstop name here...">
    <ul class="search-results__list">
        <li class="search-results__list__item" ng-repeat = "stop in busstopsArray | filter:searchText track by $index">
            <a href="#/details/{{stop.stationName}}">{{stop.stationName}}</a>
            <ul>
                <li ng-repeat = "bus in stop.buses track by $index" ng-show="bus.times">
                        {{bus.number}} -
                        <span>{{timeService.getClosestTime(bus.times)}}</span>
                        <!--<span ng-repeat = "time in bus.times track by $index"> {{time}} </span>-->
                </li>
            </ul>
        </li>
    </ul>
</div>